* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #212121;
  background-color: #d1c4e9;
}

.header {
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

i {
  padding-left: 5px;
}

#searchBar {
  border: 2px solid transparent;
  border-radius: 5px;
  border-color: gainsboro;
  background-color: #bdbdbd;
  padding: 10px;
  font-size: 15px;
  width: 50%;
}

.row {
  display: -webkit-flex;
  display: flex;
}

A:link {
  color: white;
  font-family: arial;
  text-decoration: none;
}
A:hover {
  color: white;
  font-family: arial;
  text-decoration: none;
}
A:visited {
  color: white;
  font-family: arial;
  text-decoration: none;
}

/* Left column */
.columnSide {
  color: #ffffff;
  -webkit-flex: 1;
  -ms-flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #512da8;
}

/* Middle column */
.columnMiddle {
  color: #ffffff;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  margin-right: 5%;
  background-color: #512da8;
}

.itemSide{
  padding: 10px;
}

.imgenPost {
  width: 100%;
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-content: center;
  }
  .columnSide {
    margin-left: 3px;
  }
}

.postContent {
  color: #212121;
  padding: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #448aff;
  margin-bottom: 10px;
}

.postReaction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: solid 2px black;
  padding-top: 5px;
}


.post{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.postElement{
  width: 100%;
}
.postElementInput{
  border: 2px solid transparent;
  border-radius: 5px;
  border-color: gainsboro;
  background-color: #bdbdbd;
  padding: 10px;
  font-size: 15px;
  width: 90%;
  margin: 3%;
}

.postElementTextArea{
  border: 2px solid transparent;
  border-radius: 5px;
  border-color: gainsboro;
  background-color: #bdbdbd;
  padding: 10px;
  font-size: 15px;
  width: 90%;
  margin: 3%;
}

#submitPost{
  color: white;
  background:none;
  margin: 3%;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 12px 40px;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  width: 90%;
}

#submitPost:hover{
  background-color: #2ecc71;
}